@import "../../../../styles.scss";

.backlog-task-holder {
  display: inline-grid; 
  width: 100%; 
  grid-template-columns: 15px 80px auto;
}

.backlog-task-holder:hover {
  background-color: $appSelectedBackgroundColor;
}

.backlog-task-marker {
  border-radius: 3px;
  height: 100%;
  background-color: aquamarine;
}

.backlog-task-title {
  margin-left: 10px;
  padding: 3px 3px 3px 0px
}

.backlog-task-description-holder {
  margin-left: 10px;
}
