<h3>Project - TechnoDoc</h3>
<div cdkDropListGroup class="board-columns-holder">
  <div class="board-column" *ngFor="let column of board.columns">
    <div class="board-project-title-holder">
      <div class="board-project-title">
        <h3>{{column.name}}</h3>
      </div>
      <div class="board-column-toolbox">
        <button mat-stroked-button class="board-column-add-task-button" (click)=onAddNewTask(column)>+</button>
      </div>
    </div>

    <div class="board-tasks-list" cdkDropList [id]=getColumnId(column.name) [cdkDropListData]="column.name"
      (cdkDropListDropped)="dropTask($event)">
      <app-board-task #taskElements cdkDrag *ngFor="let task of column.tasks" [task]=task class="board-task-box">
      </app-board-task>
    </div>

  </div>
</div>
