<div>
  <div class="home-card-holder">
    <mat-card class="home-card">
      <mat-card-title>
        <a routerLink="/backlog">
          <fa name="bars"></fa> Backlog
        </a>
      </mat-card-title>
      <mat-card-content>List of products requirements.</mat-card-content>
    </mat-card>
  </div>
  <div class="home-card-holder">
    <mat-card class="home-card">
      <mat-card-title>
        <a routerLink="/board">
          <fa name="th"></fa> Board
        </a>
      </mat-card-title>
      <mat-card-content>Requirements grouped by status.</mat-card-content>
    </mat-card>
  </div>
  <div class="home-card-holder">
    <mat-card class="home-card">
      <mat-card-title>
        <a routerLink="/settings">
          <fa name="gear"></fa> Settings
        </a>
      </mat-card-title>
      <mat-card-content>Application settings and options.</mat-card-content>
    </mat-card>
  </div>
</div>
