@import "../../../styles.scss";

.backlog-task-holder {
  position: relative;
  width: 100%;
}

.backlog-task-holder:hover {
  background-color: $appSelectedBackgroundColor;
}

.backlog-task-marker {
  float: left;
  width: 15px;
  border-radius: 3px;
  height: 100%;
  position: absolute;
  background-color: aquamarine;
}

.backlog-task-title {
  float: left;
  margin-left: 20px;
  max-width: 80px;
  padding: 3px 3px 3px 0px
}

.backlog-task-description-holder {
  float: left;
  margin-left: 0px;
  width: calc(100% - 70px);
}
